/*-- import google font for the home page. --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto+Condensed:wght@300&display=swap');

/*The style sheet here consists:

1 -- variables.
2 -- header.
3 -- contain 
4 -- footer.
5 -- @media 1300px.
6 -- @media 900px.
7 -- @media 500px.

*/

*{
    padding : 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Variables*/

:root{
    --maim-color : #212F3D;
    --second-color : #192f6a;
    --text-color : #ECF0F1;
    --second-text-color: #273746;
    --bg-color: #d7dbdd52 ;
    --second-bg-color : #FDFEFE;
    --third-bg-color: #2C3E50;
    /* Box Shadow*/
    --box-shadow : 2px 2px 18px rgb(14 52 54 / 20%); 
    --second-box-shadow: 0px 0px 18px rgb(14 52 54 / 20%);
}


/* --Header sction. -- */

header {
    background-color: var(--maim-color);
    width: 100%;
    height: 80px;
}
.header-nav {
    max-width: 1340px;
    top : 0;
    left : 0;
    background-color: var(--maim-color);
    width: 100%;
    color : var(--text-color);
    padding: 0 20px
}
header .logo {
    float : left;
}
header nav {
    float : right;
}
header nav ul {
    display : flex;
}
header nav ul  li {
    list-style: none;
}
header .logo {
    float: left;
    line-height: 80px;
    color: var(--text-color);
    text-transform: uppercase;
}
header .logo i{
    font-size: 1.5rem;
    margin-right: 5px;
}
header a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 1.3;
}
header nav ul li a {
    color : var(--text-color);
    padding : 0 16px;
    height: 80px;
    display: block;
    line-height: 80px;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: var(--second-color);
    background-color: var(--text-color);
}
.menu-toggle i{  
    float:right;
    font-size:24px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    color: var(--text-color);
}

/* -- Container section. --*/

/*
Container consists of:
1- Welcome photo
2- About section.
3- Card's section.
4- Consisting.
*/

.contain {
    max-width: 1300px;
    padding: 0 20px ;
    background-color: var(--second-bg-color);
    box-shadow: var(--second-box-shadow);
}

/* 1 -- Welcome sction. --*/

.welcome{
    height: 350px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    justify-content: center;
    text-align: center;
}
.welcome-text {
    color: var(--maim-color);
    padding: 35px;
    text-align: center;
    font-size: 1.5rem;
} 
.welcome-text h1{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

/* 2 -- About section. --*/

.about-info{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25rem, auto) );
    gap : 2rem;
    margin-top: 10px;
}
.about-img {
    background: url(/image/house/house1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height: auto;
    border-radius: 3rem 0 3rem 3rem;
}
.about-info .about-discribtion{
    padding: 20px 0;
}
.about-info .about-discribtion p {
    color: var(--second-text-color);
    font-size: 0.9rem;
    margin: 1rem 0 1rem;
}
.butt {
    padding: 8px 22px;
    background-color: var(--second-color);
    color: var(--text-color);
    border-radius: 5rem;
}

/* 3 --Card's section. --*/

.cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(240px, auto) );
    gap : 3rem;
    margin : 20px 0;
    padding : 20px 0;
}
.box{
    text-align: center;
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 20px;
    background-color: var(--box-shadow);
    box-shadow : var(--box-shadow);
}
.box:hover{
    background-color: var(--second-color);
    color: var(--text-color);
}
.box i {
    font-size: 1.6rem;
}

/*-- Consisting. --*/

.conisiting {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.activities{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(25rem, auto) );
    gap : 2rem;
    margin-top: 10px;
    align-items: center;
}
.activities-img-1 {
    background: url(/image/house/restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height:25rem;
    border-radius: 3rem 0 3rem 3rem;
}
.activities-img-2 {
    background: url(/image/house/pexels-cottonbro-studio-6803523.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height:25rem;
    border-radius: 0 3rem 3rem  3rem ;
    grid-column: 2;
}
.activities-text-2 {
    grid-column: 1;
    grid-row:1 ;
    padding: 2rem;
}
.activities-img-3 {
    /* photo has been downloaded from https://www.pexels.com/photo/compound-lighted-with-string-lights-382297/*/
    background: url(/image/house/pexels-salah-alawadhi-382297.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height:25rem;
    border-radius: 3rem 0 3rem  3rem;
}
.activities-img-4 {
    background: url(/image/house/pexels-pixabay-356065.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25rem;
    height:25rem;
    border-radius: 0 3rem 3rem  3rem ;
    grid-column: 2;
}
.activities-text-4 {
    grid-column: 1;
    grid-row:1 ;
}

/* profile cards*/

.profiles{ 
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(240px, auto) );
    gap: 3rem;
    justify-content: center;
    height: auto;
}
.card{
    position: relative;
    width: 230px;
    height: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
    overflow: hidden;
    border-radius: 0px;
    margin: 10px;
    border-radius: 2rem 0;
}
#Wedding{
    background: url(/image/profile1.jpg)center / cover;
}
#Restaurant{
    background: url(/image/profile2.jpg)center / cover;
}
#Party{
    background: url(/image/profile1.jpg)center / cover;
}
#meeting{
    background: url(/image/profile2.jpg)center / cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    color: var(--text-color);
    transition: 0.7s;
    border-radius: 0%;
}
.content{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 150px;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
    transform: translateY(200px);
    transition: 0.3s;
}

.content p{
    font-size: 13px;
}
.content a{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 10px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover .content{
    transform: translateY(0);
}
.card:hover .name::after{
    width: 100%;
}

/* -- contain is doen. --*/




/* 4 --Here are the style attributes for footer. --*/


footer {
    background-color:var(--maim-color);
    width: 100%;
}
.footer-info{
    max-width: 1300px;
    background-color:var(--maim-color);
    color :var(--text-color);
    padding: 30px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
}
.title-info {
    font-weight: blod;
    font-size: 1.5rem;
    border-bottom: 1.5px solid var(--text-color);
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.map-info{
   height: 140px; 
   width: 240px;
   border : 2px solid var(--text-color);
   border-radius: 20px;
}
.map-info iframe{
    border-radius: 15px;
}
.footer-info p {
    margin: 10px;
}
.contact-info {
    align-items: center;
}
.contact-info p i {
    margin-right: 10px;
}
.contact-info p  a{
    color: var(--text-color);
    font-size: 1rem;
}
.Social-media a i:hover{
    background-color:var(--second-bg-color) ;
    color: var(--maim-color);
}
.Social-media{
    display: flex;
    margin: 0 auto;
}
.Social-media a i {
    color: var(--text-color);
    margin: 5px 10px 10px 0;
    font-size: 1.5rem;
    display: inline-block;
    background-color: var(--maim-color);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
}
 



/* -- @media more than 1300px. --*/

@media  (min-width: 1300px) {
    /* --@media 1300px header. --*/

    .header-nav {
        margin-right: auto;
        margin-left: auto;
    }


    /* --@media 1300px contain. --*/

    .contain {
        margin-right : auto;
        margin-left: auto
    }


    /* --@media 1300px footer. --*/

    .footer-info{
        margin-right : auto;
        margin-left: auto
    }
}


/* -- @media lese than 900px. --*/

@media(max-width: 900px){ 
    /*-- @media header section. --*/   
    header{
        padding:0 20px;
    }
    .menu-toggle i {
        display: block;
    }
    header nav {
        position: absolute;
        width: 50%;
        height: auto;
        background-color: #212F3D;
        top: 80px;
        left:-100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid black;
    }
    /* -- @meadia Welcome section. --*/
     

    /* -- @media aboutsection. -- */
    .about-img{
        height: 25rem;
        width: 100%;
    }
    /*@media cards sction*/
    .cards{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, auto));
        gap: 1rem;
    }
    .box{
        padding: 20px;
    }

    /* -- @meadia profile cards*/
    .profile{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, auto));
        gap: 1rem;
    }
    /* Footer attributes for tablits size*/
   .footer-info{
    display: block;
    }
    .open-time, .contact-info, .location {
    padding-bottom: 20px;
    }
    /**/
    .activities{
        display: block;
        align-items: center;
    }
    .activities-img-1, .activities-img-2, .activities-img-3, .activities-img-4, .activities-text-2, .activities-text-4 {
        width: auto;
        margin : 15px 0;
        padding: 10px;
    }
}



/*-- @media less than 500px. --*/

@media(max-width: 500px){
    /* -- @media 500 header. --*/
    header {
        padding:0 20px;
    }
    .menu-toggle i{
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: auto;
        background-color:#212F3D;
        top: 80px;
        left:-100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid black;
    }
    /*-- @media 500 Welcome section. --*/
    .welcome{
        max-width:350px ;
        background-color: var(--second-bg-color);
    }
    .welcome-text h1{
        margin-bottom: 2rem;
        font-size: 1rem;
        color: var(--maim-color);
    }
    /* -- @media 500 About section- -- */
    .about-img img{
        max-width: 350px ;
    }
    .about-info {
        grid-template-columns: repeat(1, 1fr);
    }
    /*-- @media 500 activities */
    .activities{
        display: block;
    }
    .activities-img-1, .activities-img-2, .activities-img-3, .activities-img-4, .activities-text-2, .activities-text-4 {
        max-width: auto;
    }
    /*-- @media 500 footer. */
    .footer-info{
        display:flex ;
        flex-wrap: wrap;
    }
}
@media (max-width: 280px) {
    .butt {
        padding : 8px 15px;
    }
    .activities-img-1, .activities-img-2, .activities-img-3, .activities-img-4 {
        max-width: 255px;
        max-height: 270px;
    }
    .activities-text-2, .activities-text-4{
        max-width: 270px;
        max-height: auto;
    }
}