/* This is style file for home page
This style sheet contains:

- the header style attributes
- 
-

*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}



/* Here are the header style attributes */

header {
    position: absolute;
    padding: 0 100px;
    width: 100%;
    background-color: #95A5A6;
}
.logo{
    float: left;
    font-size: 25px;
    line-height: 75px;
    text-decoration: none;
}
header nav {
    float:right;
}
header nav ul{
    display: flex;
}
header nav ul li a {
    text-decoration: none;
    padding : 0 20px;
    height: 80px;
    line-height: 80px;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active
{
    color: white;
    background-color: rgb(17, 58, 105);
}
.menu-toggle i{  
    float:right;
    font-size:24px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    color: white;
}

/* Here are the style attributes for footer */
.footer-info{
    background-color: black;
    color : white;
    padding: 30px;
    font-size: 1.5erm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.map-info{
   height: 100px; 
   width: 200px;
}
.map-info iframe{
    border-radius: 15px;
}
.footer-info p {
    margin: 10px;
}

  /* the media sittings for*/

@media (max-width: 900px){    
    header{
        padding:0 20px;
    }
    .menu-toggle i {
        display: block;
    }
    header nav {
        position: absolute;
        width: 40%;
        height: auto;
        background-color: rgb(39, 93, 138);
        top: 80px;
        left:-100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid black;
    }
    .cont{
        margin-top: 80px;
        width: auto;
    }
    .footer-info{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media(max-width: 500px){
    header{
        padding:0 20px;
    }
    .menu-toggle i{
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: rgb(39, 93, 138);
        top: 80px;
        left:-100%;
        transition: 0.5s;
    }
    header nav ul il a{
        font-size: 0.5erm;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid black;
    }
    .cont
    {
        margin-top: 80px;
        width: auto;
    }
    .footer-info{
        grid-template-columns: 1fr;
        column-gap: 100px;
        row-gap: 40px;
    }
}
.fix {
    height: 70px;
}
/*her are contian attributes*/
.contain{
    height: 500px;
    width: 100%;
    background-color: bisque;
}




