
.containers{
    border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.container1{
    display: inline-block;
    border: 5px solid black;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 500px;
    vertical-align: middle;
    margin-right: 50px;
    


}
.container1 h1{
    font-size: 20px;
     color: cyan);



}
.container1 h3{
   color: cyan;

}
.container1 p{

    color: rgb(0, 0, 0);
}
.container2{
    display: inline-block;
    border: 5px solid black;
    border-radius: 10%;
    background-color: white;
    width: 30%;
    height: 500px;
    vertical-align: middle;
    margin-left: 50px;



}
.container2 div{

    display: flex;
    justify-content: space-between;    
    margin: 15px;



}
.container2 div p {

background-color: rgb(215, 182, 182);
width: 90px;
border-radius: 7%;



}
.container2 select{
height: 40px;

}